<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirecionar para a pasta public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]

</IfModule>

# Impedir listagem de diretórios

Options -Indexes
