{% extends "layout/main.twig" %}

{% block content %}
	<div class="ui container">
		<h1 class="ui header">Projeto PHP Funcionando!</h1>
	</div>
	<button class="ui primary basic button">Primary</button>
	<button class="ui secondary basic button">Secondary</button>
	<button class="ui positive basic button">Positive</button>
	<button class="ui negative basic button">Negative</button>
{% endblock %}
