{% extends "layout/main.twig" %}

{% block content %}

	<div class="ui container" style="margin-top: 50px;">
		<h1 class="ui header">DevBox - Funcionando!</h1>

		<div class="ui segment">
			<p>Bem-vindo ao
				<strong>{{ title }}</strong>
			</p>
			<button class="ui primary button">Primary</button>
			<button class="ui negative button">Negative</button>
			<button class="ui positive button">Positive</button>
		</div>
	</div>

{% endblock %}
