<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>{{ title ?? 'Meu Projeto' }}</title>

		<link rel="stylesheet" href="/assets/css/semantic.min.css">
		<link rel="stylesheet" href="/assets/css/app.css">
	</head>

	<body>

		{% block content %}{% endblock %}

		<script src="/assets/js/semantic.min.js"></script>
		<script src="/assets/js/app.js"></script>
	</body>
</html>
