<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title ?? 'DevBox' }}</title>

		{# Assets do Vite (CSS e JS) #}
		{{ vite('js/app.js')|raw }}
	</head>


	<body>
		{% include 'layout/sidebar.twig' %}
		<main class="main-content"> {% block content %}{% endblock %}
			</main>
		</body>
	</html>
