<div class="nav" id="navbar">
  <nav class="nav-container">
    <div>

      <div class="nav-list">
        <a href="#" class="nav-link nav-logo">
          <i class='bx bx-right-arrow-alt nav-icon'></i>
          <span class="nav-logo-name">Dev Box</span>
        </a>
        <div
            class="nav-items">
          <!-- Search -->
          <a href="#" class="nav-link">
            <i class='bx bx-search nav-icon'></i>
            <span class="nav-name">Pesquisar</span>
          </a>

          <!-- Planejamento -->
          <a href="/" class="nav-link active">
            <i class='bx  bx-home nav-icon'></i>
            <span class="nav-name">Planejamento</span>
          </a>

          <!-- Notas -->
          <a href="#" class="nav-link">
            <i class='bx bx-file nav-icon'></i>
            <span class="nav-name">Notas</span>
          </a>

          <!-- Wiki -->
          <a href="#" class="nav-link">
            <i class='bx bx-book nav-icon'></i>
            <span class="nav-name">Wiki</span>
          </a>

          <!-- Cadastrar (Dropdown) -->
          <div class="nav-dropdown">
            <a href="#" class="nav-link">
              <i class='bx bx-plus-circle nav-icon'></i>
              <span class="nav-name">Cadastrar</span>
              <i class='bx bx-chevron-down nav-icon nav-dropdown-icon'></i>
            </a>

            <div class="nav-dropdown-collapse">
              <div class="nav-dropdown-content">
                <a href="#" class="nav-dropdown-item">Cad. UCs</a>
                <a href="#" class="nav-dropdown-item">Cad. Turmas</a>
                <a href="#" class="nav-dropdown-item">Cad. Wiki</a>
                <a href="#" class="nav-dropdown-item">Cad. Notas</a>
              </div>
            </div>
          </div>
        </div>

        <div
            class="nav-items">
          <!-- Modo Claro/Escuro -->
          <a href="#" class="nav-link" onclick="toggleDarkMode(); return false;">
            <i class='bx bx-sun nav-icon' id="theme-icon-nav"></i>
            <span class="nav-name" id="theme-text-nav">Modo Claro</span>
          </a>

          <!-- Configurações -->
          <a href="#" class="nav-link">
            <i class='bx bx-cog nav-icon'></i>
            <span class="nav-name">Configurações</span>
          </a>

          <!-- Conta -->
          <a href="#" class="nav-link">
            <i class='bx bx-user nav-icon'></i>
            <span class="nav-name">Conta</span>
          </a>

        </div>
      </div>
    </div>
  </nav>
</div>
