/*========== NAV ==========*/
.nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: var(--container-color);
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: var(--z-fixed);
  transition: 0.4s;
}

.nav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow-y: auto;
  overflow-x: visible;
  scrollbar-width: none;
  /* For mozilla */
}

/* For Google Chrome and others */
.nav-container::-webkit-scrollbar {
  display: none;
}

.nav-logo {
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}

.nav-list,
.nav-items {
  display: grid;
}

.nav-list {
  row-gap: 0;
}

.nav-items {
  row-gap: 0.5rem;
}

.nav-subtitle {
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--text-color-light);
}

.nav-link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  padding: 0.75rem 0.75rem;

  border-radius: 0.5rem;
  transition: background-color 0.3s;
}

.nav-link:hover {
  color: var(--first-color);
  background-color: var(--first-color-light);
}

.nav-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.nav-name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
}

.nav-logout {
  margin-top: 5rem;
}

/* Dropdown */
.nav-dropdown {
  overflow: visible;
  transition: 0.4s ease-in-out;
}

.nav-dropdown-collapse {
  background-color: var(--first-color-light);
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
}

.nav-dropdown-content {
  display: grid;
  row-gap: 0.5rem;
  padding: 0.75rem 2.5rem 0.75rem 1.8rem;
}

.nav-dropdown-item {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.nav-dropdown-item:hover {
  color: var(--first-color);
}

.nav-dropdown-icon {
  margin-left: auto;
  transition: 0.4s;
}

/* Show dropdown collapse */
.nav-dropdown.show-dropdown .nav-dropdown-collapse {
  max-height: 500px;
}

/* Rotate icon arrow */
.nav-dropdown.show-dropdown .nav-dropdown-icon {
  transform: rotate(180deg);
}

/*===== Show menu =====*/
.show-menu {
  left: 0;
}

/*===== Active link =====*/
.active {
  color: var(--first-color);
}

@media screen and (min-width: 768px) {
  .nav {
    left: 0;
    width: 70px;
    /* Reduced navbar */
  }

  .nav-items {
    row-gap: 0.5rem;
  }

  .nav-icon {
    font-size: 1.6rem;
  }

  /* Element opacity */
  .nav-logo-name,
  .nav-name,
  .nav-subtitle,
  .nav-dropdown-icon {
    opacity: 0;
    transition: 0.3s;
  }

  /* Navbar expanded */
  .nav.nav-expanded {
    width: var(--nav-width);
  }

  /* Visible elements */
  .nav.nav-expanded .nav-logo-name {
    opacity: 1;
  }

  .nav.nav-expanded .nav-subtitle {
    opacity: 1;
  }

  .nav.nav-expanded .nav-name {
    opacity: 1;
  }

  .nav.nav-expanded .nav-dropdown-icon {
    opacity: 1;
  }
}
